<h1>Dashboard</h1>
<div>
  <%= link_to "/users" do%>
    <span>Lista de Usuarios</span>
  <%end%>
</div>

<div>
  <%= link_to "/products" do%>
    <span>Lista de Productos</span>
  <%end%>
</div>
<div>
  <%= link_to "/sales" do%>
    <span>Lista de Ventas</span>
  <%end%>
</div>

<div>
  <%= link_to "/checkout" do%>
    <span>Realizar Venta</span>
  <%end%>
</div>
