<h1>Dashboard</h1>

<div>
  <%= link_to "Lista de Usuarios","/users" %>
</div>

<div>
  <%= link_to "Lista de Productos", "/products" %>
</div>

<div>
  <%= link_to "Lista de Ventas","/sales" %>
</div>

<div>
  <%= link_to "Realizar venta", "/checkout" %>
</div>
