<h1>Register</h1>

<div>
  <%= link_to "/" do%>
    <span>DASHBOARD</span>
  <%end%>
</div>
<%= render 'users/form' %>

<div>
  <%= link_to "/" do%>
    <span>Regresar al login</span>
  <%end%>
</div>
