<header class="topBar">
  <%= link_to "/" do%>
    <%= image_tag 'logoLB.png', class: 'logo' %>
  <%end%>
  <h3>Bienvenido</h3>
  <div>
    <%= link_to "/login" do%>
      <span>Login</span>
    <%end%>
  </div>
  <%# <button>Cerrar Sesion</button> %>
</header>
